.profilePage {
  background: #282828;
  opacity: 1;
}
.imageName {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.imageName > img {
  height: 160px;
  width: 160px;
  margin: 5px;
}
.imageName > h1 {
  font-size: 46px;
  margin-left: 5px;
  margin-right: 5px;
  color: white;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  width: 80%;
  color: #b3b3b3;
}
.bio,
.music,
.website,
.video,
.rate,
.location,
.contact,
.travel-distance {
  font-weight: bold;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #b3b3b3;
}
.non-exist-text {
  color: white;
  text-align: center;
  margin: 100px auto;
  font-size: 36px;
}

