.loginTitle {
  text-align: center;
  margin: 50px;
  font-size: 56px;
  color: dimgray;
}
.login-nav {
  font-size: 22px;
  color: white;
}
.loginForm {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.loginForm > label {
  margin: 10px;
  font-size: 26px;
  color: white;
}
.loginForm > input {
  padding: 10px;
  border: solid 1px black;
  font-size: 20px;
}
.error-message {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  color: white;
}
.loginSubmitButton {
  margin: 30px;
  font-size: 26px;
  padding: 5px 20px;
  border: solid 1px black;
  color: dimgray;
  background-color: white;
}
