.artist-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artist-list > img {
  margin: 8px auto;
  height: 100px;
  width: 100px;
}
.artist-list > h3 {
  margin: 8px auto;
  font-size: 26px;
}
