.searchForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.searchForm > label {
  margin: 10px;
  font-size: 20px;
}
.searchForm > input {
  border: solid 1px black;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
.searchForm > button {
  margin: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border: solid 1px black;
}
.result-message {
    text-align: center;
    margin: 10px auto;
    width: 90%;
}
.resultsList {
  list-style: none;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin-right: auto;
  margin-top: 30px;
}
.resultsList > li {
  border: solid 1px black;
  min-height: 100px;
  text-align: center;
  margin: 10px;
}

