.results-nav {
  font-size: 22px;
  text-decoration: none;
  color: white;
}
.searchForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.searchForm > label {
  margin: 5px auto;
  font-size: 26px;
  color: #b3b3b3;
}
.searchForm > input {
  border: solid 1px black;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
  padding: 5px;
  color: #282828;
}
.searchForm > button {
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 18px;
  width: 100px;
  border: solid 1px black;
  background-image: linear-gradient(90deg, #af2896, #509bf5);
  color: white;
}
.result-message {
  text-align: center;
  margin: 10px auto;
  width: 90%;
  padding: 2px;
  font-size: 16px;
  line-height: 24px;
  color: white;
  background: #282828;
}
.resultsList {
  list-style: none;
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 30px auto;
  padding: 0;
}
.resultsList > li {
  border: solid 1px black;
  min-height: 100px;
  text-align: center;
  margin: 10px auto;
  background-color: #282828;
  opacity: 0.8;
  color: white;
  width: 100%;
  max-width: 220px;
}
.resultsList > li:hover {
  border: solid 1px #b3b3b3;
}
a:hover {
  color: #b3b3b3;
}
button:hover {
  color: #b3b3b3;
}
@media only screen and (min-width: 600px) {
  .resultsList {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .result-message {
    width: 60%;
  }
}
