.incomplete {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.incomplete > h1 {
  color: white;
  text-align: center;
}
.incomplete-button {
  margin: 20px auto;
  text-align: center;
  font-size: 26px;
  padding: 5px 20px;
  border: solid 1px black;
  background-image: linear-gradient(90deg, #af2896, #509bf5);
  color: white;
}
