.artist-name {
  text-align: center;
  margin: 20px;
  font-size: 56px;
  text-transform: uppercase;
  color: white;
}
.profile-nav {
  font-size: 22px;
  color: white;
}
.profile-form {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
}
.profile-form > label {
  margin: 5px;
  font-size: 18px;
  color: #b3b3b3;
}
.profile-form > input {
  padding: 10px;
  border: solid 1px black;
  font-size: 16px;
}
.profileSubmitButton {
  margin: 50px;
  font-size: 26px;
  padding: 5px 20px;
  border: solid 1px black;
   color: white;
  background-image: linear-gradient(90deg, #af2896, #509bf5);
}
